$branco: white;
$azulbotao1: #2a7d9a;
$linha: #c2d4dc;
$texto: #8e8e8e;
$fundocaixa: #f9f9f9;
$preto: black;


footer{
    background: url("../../img/footer.png") center 0 no-repeat;    
    background-size: cover;
    height: 540px;
    text-align: center;
    
    .foot{
        margin:0 auto;
        width: 300px;
        height: 470px;
        padding-top: 50px;
        p{
            color: $branco;
        }
        form{
            
            input{
                opacity: 0.5;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                border: 2px solid $branco;
                padding: 15px;
                width: 400px;  
            }
            button{
                margin-left: -5px;
                border: 1px solid $branco;
                color: $preto;
                padding: 16px;
                background-color: $branco;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                &:hover{
                    color: $branco;
                    background-color: $azulbotao1;
                } 
            }
        }
    }
    .iconefooter{
        margin-left: 1250px;
        margin-top: -100px;
    }
}


@media screen and (min-width:320px) and (max-width:330px){
    footer{
        
        position:absolute;
        top:4430px;
        width:100%;
        overflow: hidden;
        height:750px;
        .foot{
            width:100%;
            margin:0 auto;
            text-align: center;
            display: block;
            #whitebox-footer{
                width:80vw;
                margin-top:10px;
                margin-bottom:20px;
            }
            
            p{
                margin: 0 auto;
                width:80vw;
                line-height:25px;
            }
            
            form{
                width:100%;
                
                input{
                    margin-top:20px;
                    margin-bottom:20px;
                    width:40%;
                }
                
            }
        }
    }   
    
}



@media screen and (min-width:331px) and (max-width:600px){
    footer{
        position:absolute;
        top:4489px;
        width:100%;
        overflow: hidden;
        height:750px;
        .foot{
            width:100%;
            margin:0 auto;
            display: block;
            #whitebox-footer{
                width:80vw;
                max-width: 300px;
            }
            
            p{
                width:80%;
               margin:20px auto;
                line-height:25px;
                
            }
            
            form{
                width:100%;
                
                input{
                    margin-top:10px;
                    margin-bottom:10px;
                    width:40%;
                }
                
            }
        }
    }   
    
}

@media screen and (min-width:601px) and (max-width:720px){
    footer{
        position:absolute;
        top:4260px;
        width:100%;
        overflow: hidden;
        height:750px;
        .foot{
            width:100%;
            margin:0 auto;
            display: block;
            #whitebox-footer{
                width:80vw;
                max-width: 300px;
            }
            
            p{
                width:80%;
               margin:20px auto;
                line-height:25px;
                
            }
            
            form{
                width:100%;
                
                input{
                    margin-top:10px;
                    margin-bottom:10px;
                    width:40%;
                }
                
            }
        }
    }   
    
}


@media screen and (min-width:721px) and (max-width:768px){
    footer{
        position:absolute;
        top:3410px;
        width:100%;
        overflow: hidden;
        height:750px;
        .foot{
            width:100%;
            margin:0 auto;
            display: block;
            #whitebox-footer{
                width:80vw;
                max-width: 300px;
            }
            
            p{
                width:80%;
               margin:20px auto;
                line-height:25px;
                
            }
            
            form{
                width:100%;
                
                input{
                    margin-top:10px;
                    margin-bottom:10px;
                    width:40%;
                }
                
            }
        }
    }   
    
}