$branco: #FFFFFF;
$hover-box: #287996;
$corhead: #f7f7f7;
$sombrahead: #cfcfcf;
$preto: black;


header{
   
    .main-header-xs{
        display: none;
    }
    .main-header{
        display: block;
        position:fixed;
        z-index:1000;
        width:100%;
        background-color:  $corhead;
        height: 115px;
        box-shadow: 5px 5px 5px $sombrahead;

        .head{
            width: 1200px;
            margin: 0 auto;
            padding-top: 25px;  
        }
        nav{
            float: right;
            li{
                display: inline-block;
            }
            a{
                font-size: 16px;
                display: inline-block;
                color: $preto;
                text-decoration: none;
                padding: 15px;
                &:hover{
                    color: $branco;
                    background-color: $hover-box;
                    border-radius: 30px;
                }
            }      
        }
    }
    
    //NECESSARIO FAZER TARGET ESPECIAL PARA IOS DEVICES
    
    
    
    @media screen and (min-width:320px) and (max-width:768px){
        
        header{
            width:50% !important;
        }
        .main-header{
            display: none;
        }
        .main-header-xs{
            display:inline-block;
            position:fixed;
            z-index:1000;
            width:100% !important;
            background-color:  $corhead;
            height: 85px;
            box-shadow: 0px 5px 5px $sombrahead;

            .head{ 
                width:100%;
                height: 85px;
                display: inline-block;
            }
            .NavBar{
                width:50px;
                height:40px;
                display: inline-block;
                float:right;
                margin-right:20px;
                margin-top:20px;
            }
            .navbar-toggle{
               
                width:50px;
                height:37px;
                border: 1px solid $sombrahead;
                background-color:transparent;
                padding-top:2px;
                padding-right:4px;
                text-align: center;
         
                
                
            }

            .icon-bar{
                
                display: block;
                text-align: center;
                background-color:$sombrahead;
                width:36px;
                height:3px;
                margin-bottom: 4px;
                
                border:0 solid transparent;
            }
            
            #whitebox-logo{
                padding-left:10px;
                margin-top: 13px;
                width: 200px;
                max-width: 200px;
                display: inline-block;
            }
        }
    }
}