$branco: white;
$azulbotao1: #2a7d9a;
$linha: #c2d4dc;
$texto: #8e8e8e;
$fundocaixa: #f9f9f9;

.espaço{
    position: relative;
    height: 20px;
}
.topo{
    background: url("../../../img/main.png") center 0 no-repeat;    
    height: 849px;
    background-size: cover;
    text-align:center;
    .conteudo{
        padding-top: 180px;
        padding-right: 400px;
        margin: 0 auto;
        width: 650px;
        #texto1{
            color: $branco;
            text-align: left;
            font-weight: bold;
            font-size: 20px;
            position: relative;
            line-height: 200%;
            img{
                position: absolute;
                left: 0;
                bottom: -20px;
            }
        }
        #texto2{
            color: $branco;
            text-align: left;
            font-size: 14px;
            line-height: 200%;
        }
        a:nth-child(2n){
            display: inline-block;
            color: $azulbotao1;
            text-decoration: none;
            padding: 20px 70px;
            background-color: $branco;
            border-radius: 30px;
            font-size: 18px;
            &:hover{
                color: $branco;
                background-color: $azulbotao1;
                border-radius: 30px;
            }
        }      
    }
    .iconemain{
        margin: 180px auto;
    }
}

.meio1{
    height: 770px;
    .conteudo1{     
        margin: 0 auto;
        width: 1100px;
        text-align: center;
        .texto1{
            font-size: 14px;
            font-weight: bold;
            position: relative;
            color: $texto;
        }
        .icone1 li{
            margin: 0 50px,
        }
        ul{
            position: relative;
            &::after{
                margin-top: 20px;
                position: absolute;
                left: 100px;
                right: 100px;
                display:block;
                height: 1px;
                content: '';
                background: $linha;  
            }
        } 
        li{
            display: inline-block;
        }
    }
    .conteudo2{
        margin:0 auto;
        width: 1100px;
        padding-top: 50px;
        .imagepc{
            position: absolute;
        }
        .textopc{
            position: relative;
            margin-left: 450px;
            line-height: 175%;
            color: $texto;
        }
    }
    .conteudo3{
        margin:0 auto;
        width: 1100px;
        padding-top: 30px;
        text-align: center;
        p{
            line-height: 175%;
            color: $azulbotao1;
        }
    }
}

.meio2{
    height: 752px;
    background-image: url(../../../img/fundoestranho1.png);
    .conteudo11{
        margin: 0 auto;
        width: 1100px;
        text-align: center;
    }
    .conteudo12{
        margin: 0 auto;
        width: 1100px;
        text-align: center;
        padding-top: 40px;
        .bloco1{
            display: inline-block;
            margin: 0 20px;
            background-color: $fundocaixa;
            border-radius: 5px;
            box-shadow: 0 0 10px $sombrahead;
            width: 322px;
            height: 448px;
            &::before{
                margin-left: -50px;
                position: absolute;
                width: 100px;
                height: 2px;
                content: '';
                background: $azulbotao1;  
            }
            #tipo{   
                font-size: 24px;
                font-weight: bold;
                margin: auto;
                border-bottom: 1px solid $linha;
                width: 80%;
                padding: 30px 0;
            }
            ul{
                margin: auto;
                width: 80%;
                padding-top: 20px;
                li{
                    border-bottom: 1px solid $linha;
                    position: relative;
                    line-height: 50px;
                    height: 50px;
                    
                    p {
                        margin: 0;
                        text-align: left;
                        padding-left: 42px;
                    }
                }
                .certo{
                    &::before{
                        top:5px;
                        position: absolute;
                        display:block;
                        width: 32px;
                        height: 32px;
                        content: '';
                        background-image: url(../../../img/certo.png);
                    }
                }
            }
            a{
                border: 1px solid $azulbotao1;
                display: inline-block;
                color: $azulbotao1;
                text-decoration: none;
                padding: 20px 70px;
                background-color: $branco;
                border-radius: 30px;
                font-size: 18px;
                &:hover{
                    color: $branco;
                    background-color: $azulbotao1;
                    border-radius: 30px;
                } 
            }
            .pagamento{
                color: $azulbotao1;
            }
        }
    }
    .conteudo13{
        margin: 0 auto;
        width: 1100px;
        text-align: center;
        padding-top: 40px;
        a{
            border: 1px solid $azulbotao1;
            display: inline-block;
            color: $branco;
            text-decoration: none;
            padding: 20px 70px;
            background-color: $azulbotao1;
            border-radius: 30px;
            font-size: 18px;
            &:hover{
                color: $azulbotao1;
                background-color: $branco;
                border-radius: 30px;
            } 
        }
    }
}
.meio3{
    background: url("../../../img/image2.png") center 0 no-repeat;    
    background-size: cover;
    height: 456px;
    .conteudo21{
        margin:0 auto;
        width: 1100px;
        height: 400px;
        padding-top: 50px;
        .contesq{
            position: absolute;
            h1{
                font-size: 24px;
                color: $azulbotao1;
            }
            p{
                color: $texto;
                padding-bottom: 20px;
            }
        }
        
        .contdir{
            position: relative;
            margin-left: 600px;
            line-height: 175%;
            color: $texto;
            margin-top: 20px;
            input{
                opacity: 0.5;
                border-radius: 30px;
                border: 1px solid $azulbotao1;
                padding: 20px;
                width: 450px;
                margin-bottom: 10px;
            }
            button{
                border: 1px solid $azulbotao1;
                margin-left: 130px;
                color: $branco;
                text-decoration: none;
                padding: 15px 70px;
                background-color: $azulbotao1;
                border-radius: 30px;
                font-size: 18px;
                &:hover{
                    color: $azulbotao1;
                    background-color: $branco;
                    border-radius: 30px;
                } 
            }
        }
    }
}
